# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
.notebook_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Data and figures 
data/*.csv
data/*.parquet

# Мodels
models/
*.joblib
*.pkl
